.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.app-header {
  background-color: #47579f;
  max-height: 15vh;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  color: white;
}

.app-header ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.logo {
  margin-right: auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.app-header ul li a {
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 20px;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
}

.app-header ul li a:hover {
  background-color: #1a265c;
  color: #fff;
}

.app-body {
  flex: 1;
  overflow-y: auto;
  height: 75vh;
  max-height: 75vh;
  min-height: 75vh;
}

.app-footer {
  background-color: #666;
  color: #fff;
  max-height: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}