.cadastro {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 30px!important;
}

.submit {
    width: 20%;
    align-self: flex-end;
    justify-self: flex-end;
}