.dashboard {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.dashboard .mensagens {
    width: 30%;
    padding: 15px;
}

.dashboard .mensagens ul {
    list-style: none;
    margin: 0;
}

.mensagens ul li {
    border: 1px solid #000000;
    padding: 20px;
    margin-bottom: 15px;
}

.dashboard section {
    width: 70%;
    padding: 15px;
    margin: 15px;
    border: 1px solid #000000;
    display: flex;
    flex-wrap: wrap;
    max-height: 50vh;
}

.dashboard section .mensagem {
    min-height: auto;
    height: 85%;
    width: 100%;
    overflow-y: auto;
}
.dashboard section .excluirBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 40px;
}