.sobre {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.sobre aside {
    width: 30%;
    max-height: 75vh;
    height: 75vh;
}

.sobre section {
    width: 70%;
    text-align: left;
}

.sobre aside img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 20px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

p {
    font-size: 16px;
}